.jumbotron {
    padding-top: 7rem;
    background-color: #e2edff;
}


#sambutan {
    background-color: #e2edff;
}
#visi {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}

#about {
    padding-left: 0;
    padding-right: 0;
}

.gallery-img {
    width: 100%;
}

#gallery .row>* {
    padding-left: 0;
    padding-right: 0;
}

#gallery {
    background-color: #e2edff;
    padding-top: 7rem;
}

.po{
    font-family: Poppins;
}